[{:itonami.blueprint/social-impact [:public-information-access :literacy :local-jobs], :itonami.blueprint/domain :services/library, :itonami.blueprint/required-technologies [:robotics :forms :audit-ledger], :itonami.blueprint/isco-08 "4411", :itonami.blueprint/name "Independent Library & Archive Support Practice", :itonami.blueprint/governor :library-services-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-4411", :itonami.blueprint/license "AGPL-3.0-or-later"}]